@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:wght@500&display=swap");
body {
  background: #fff;
}
.gallary-box {
  width: 100%;
  position: relative;
  padding: 6.5rem 0;
  min-height: calc(100vh - 6.5rem);
  overflow: hidden;
}
.gallary-box img {
  z-index: 0;
  width: 100%;
  position: absolute;
  top: 6.5rem;
  left: 0;
  height: calc(100vh - 6.5rem);
  object-fit: cover;
}
.overlay {
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 6.5rem;
  left: 0;
  height: calc(100vh - 6.5rem);
  object-fit: cover;
  background: linear-gradient(to bottom, #00000000 40%, #000000ce 60%);
}
.gal-welcome {
  font-family: "Ubuntu", sans-serif !important;
  z-index: 10;
  bottom: 50px;
  position: absolute;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
}
.gal-welcome h1 {
  font-size: 4vw;
  position: relative;
  width: fit-content;
  margin: 5px auto;
}

.gal-welcome h2 {
  font-size: 2.5vw;
  margin: 0 auto 15px;
}
.gal-welcome p {
  font-size: 1.2vw;
  max-width: 840px;
  margin: auto;
  padding: 0 15px;
}
.g1 {
  width: 96% !important;
  background: var(--background-color);
  min-height: 68vh;
  float: left;
  margin: 20px 2%;
  padding: 20px;
}

.thumbnail {
  object-fit: cover;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 850px) {
  .gal-welcome h1 {
    font-size: 5vw;
  }
  .gal-welcome h2 {
    font-size: 3.1vw;
  }
  .gal-welcome p {
    font-size: 2vw;
  }
}
